@use './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: variables.$primary-color;
  font-family: 'Courier New', Courier, monospace;
}

#app {
  max-width: 1200px;
  margin: 5rem auto;
  display: grid;
  grid-template-columns: 25% 1fr;
  border: 1px solid black;
  gap: 2rem;
}
