@use "../abstracts/index" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: $primary-color;
  min-height: 100vh;
}

#app {
  max-width: 1200px;
  margin: $very-big auto;
  gap: $big;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
