* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f9ff;
}
#app {
  max-width: 1200px;
  margin: 2.5rem auto;
  gap: 1.5rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
/* 
console.log
  @media (min-width:601px) and (max-width:900px) {
    background-color: red;
  } */

}

h1,
h2,
h3,
h4 {
  color: #333;
}

p {
  color: #444;
  line-height: 1.4rem;
}
