* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f9ff;
}
#app {
  max-width: 1200px;
  margin: 5rem auto;
   gap: 2rem; 
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
