$primary-color: #f0f9ff;
$primary-color-hover: #cce7ff;
$secondary-color: #ffffff;
$terniary-color: #4661e6;
$terniary-color-hover: #5971e9;
$forthiary-color: #ad1fea;
$forthiary-color-hover: #b535ec;
$error-color: #ef4444;
$error-color-hover: #f87171;
$cancel-color: #0f172a;
$cancel-color-hover: #1e293b;
$main-font: Arial, Helvetica, sans-serif;
$border-radius-big: 15px;
$border-radius-medium: 10px;
