  $primary-color: #f0f9ff;
  $primary-color-hover: #cce7ff;
  $secondary-color: #FFFFFF;
  $terniary-color:#303233;
  $main-font: Arial, Helvetica, sans-serif;
  // sans serif
  $border-radius-big:15px;
  $border-radius-medium:10px;