$primary-color: #f0f9ff;
$primary-color-hover: #cce7ff;
$secondary-color: #ffffff;
$terniary-color: #4661e6;
$terniary-color-hover: #5971e9;
$forthiary-color: #ad1fea;
$forthiary-color-hover: #b535ec;
$error-color: #ef4444;
$error-color-hover: #f87171;
$cancel-color: #0f172a;
$cancel-color-hover: #1e293b;
$image-button-color: grey;
$main-font: Arial, Helvetica, sans-serif;
$border-radius-medium: 10px;
$border-radius-big: 15px;
$border-radius-full: 9999px;
$heading-color: #333;
$paragraph-color: #444;
$paragraph-lineHeight: 1.4rem;
$feedbackHeight:10rem;
$small: 0.5rem;
$medium-small:0.75rem;
$medium: 1rem;
$big: 1.5rem;
$very-big: 2rem;
$edit-delete:6.25rem;

// Font sizes
$small-font:0.875rem;
$medium-font:1rem;
$big-font:1.2rem;
